* {
  margin: 0px;
  padding: 0px;
}
.App {
  background-color: rgb(119, 119, 233);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  min-height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(73, 73, 215);
  padding: 10px;
}
h3 {
  color: black;
}
li {
  list-style: none;
}
input {
  width: 80%;
}
